// Container helper mixin
@mixin container {
  display: block;
  margin-left: 15px;
  margin-right: 15px;

  @include sm {
    margin-left: 20px;
    margin-right: 20px;
  }

  @include md {
    margin-left: 30px;
    margin-right: 30px;
  }

  @include lg {
    margin-left: 30px;
    margin-right: 30px;
  }

  @include xl {
    margin-left: 40px;
    margin-right: 40px;
  }
}

// Content helper mixin
// This should be applied on a direct descendant of the container
@mixin content() {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @include sm {
    width: span(4);
  }

  @include md {
    width: span(4);
  }

  @include lg {
    width: span(10);
  }

  @include xl {
    width: span(10);
  }
}


// Container class to house a grid context
.rp_container {
	@include container;
}

body {
  padding-bottom: 30px;

  // Dark variant
  &.rp_dark.rp_dark {
    background-color: $black;

    &.dev::after {
      @include grid-overlay(transparentize($white, .65) transparentize($white, .85) transparentize($white, .7));
      position: fixed;
    }
  }

  // Ash variant
  &.rp_ash.rp_ash {
    background-color: $rose-ash;

    &.dev::after {
      @include grid-overlay(transparentize($white, .8) transparentize($white, .95) transparentize($white, .85));
      position: fixed;
    }
  }
}


// Dev helpers
body.dev {
  
  // Grid overlay
  &::after {
    @include grid-overlay(transparentize($red, .8) transparentize($red, .95) transparentize($red, .9));
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 15px;
    right: 15px;
    height: 100vh;
    pointer-events: none;
    z-index: 999999999;
    opacity: .5;

    @include sm {
      left: 20px;
      right: 20px;
    }

    @include md {
      left: 30px;
      right: 30px;
    }

    @include lg {
      left: 30px;
      right: 30px;
    }

    @include xl {
      left: 40px;
      right: 40px;
    }
  }

  // Breakpoint indicator
  &::before {
    @include font(regular);
    content: "BP: 320px (xs)";
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: teal;
    padding: 5px 10px;
    font-size: 11px;
    font-weight: bolder;
    color: $white;
    z-index: 10;
    text-transform: uppercase;

    @include sm {
      content: "BP: 640px (sm)";
    }

    @include md {
      content: "BP: 800px (md)";
    }

    @include lg {
      content: "BP: 1024px (lg)";
    }

    @include xl {
      content: "BP: 1680px (xl)";
    }
  }

} 
