{% embed '../layouts/ash.twig' with {
	description: description,
	projects: projects,
	nav: nav,
	body_class: dev ? 'dev' : '',
	no_header: true,
} only %}
	{% block content %}

		{% include '../components/featured-projects.twig' with { projects: projects } only %}
		{% include '../components/nav.twig' with { nav: nav } only %}

	{% endblock %}
{% endembed %}
