{% embed '../layouts/dark.twig' with {
	title: title,
	description: description,
	body_class: dev ? 'dev' : '',
	projects: projects
} only %}

	{% block content %}
		{% include '../components/projects-grid.twig' with {projects: projects} only %}
	{% endblock %}

{% endembed %}
