<!DOCTYPE html>
  <html lang="en">
	<head>
	  <meta charset="UTF-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>{{ pageTitle }}</title>
	  <link rel="stylesheet" href="/styleguide/assets/styles/styleguide.css">
	  <link rel="stylesheet" href="/styleguide/assets/styles/leftbar.css">
	  <link rel="stylesheet" href="/styleguide/assets/styles/rightbar.css">
	</head>
  <body>
	<main class="styleguide__main">

		{# LEFT BAR #}
		<div class="styleguide__leftbar">
			<div class="styleguide__leftbar__content">
				<h3>Pages</h3>
				<ul>
					{% for page in pages %}
						<li><a href="/{{page.slug}}">{{(page.title is not empty) ? page.title : page.fileName}}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{# / LEFT BAR #}

		<div class="styleguide__sidebar-overlay"></div>
		<div class="styleguide__preview">
			<iframe src="/template?template={{templateSlug}}" frameborder="0" class="styleguide__viewport">
				
			</iframe>
		</div>
	</main>


	{# INCLUDE SCRIPTS #}
		<script src="/vendor/jquery/dist/jquery.min.js"></script>
	{# / INCLUDE SCRIPTS #}

  </body>
</html>
