.rp_expandable {
  color: $white;
  @include container;
  padding-bottom: 30px;

  @include sm {
    padding-bottom: 40px;
  }

  @include md {
    padding-bottom: 60px;
  }

  @include lg {
    margin-top: 10px;
  }


  &__content {
    @include content;
  }


  &__heading {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;

    @include lg {
      justify-content: space-between;
    }
  }


  &__toggle {
    background-color: transparent;
    order: 2;
    margin-top: 15px;

    @include sm {
      margin-top: 20px;
    }

    @include md {
      margin-top: 30px;
    }

    @include lg {
      order: 1;
      width: span(2 of 10);
      margin-top: 0;
    }

    @include xl {
      width: span(1 of 10 wide);
    }

    &__text {
      color: $white;

      &--collapsed {
        display: block;

        .expanded & {
          display: none;
        }
      }

      &--expanded {
        display: none;

        .expanded & {
          display: block;
        }
      }
    }

    .rp_icon {
      fill: $white;
      transform: rotate(180deg);

      .expanded & {
        transform: none;
      }
    }
  }


  &__overview {
    @include font(medium);
    @include type(sm);
    color: $white;
    order: 1;
    margin-top: 10px;

    @include lg {
      order: 2;
      flex-shrink: 1;
      margin-top: 0;
      width: span(6 of 10);
    }

    @include xl {
      width: span(6 of 10);
    }
  }


  &__hidden {
    display: none;
  }


  &__expanding {
    display: flex;
    flex-flow: column nowrap;
    font-size: 0;
    padding-top: 45px;
    @include font(medium);

    @include sm {
      padding-top: 60px;
    }

    @include md {
      padding-top: 90px;
    }

    @include lg {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
    }

    @include xl {
      padding-top: 120px;
    }
  }


  &__side {
    order: 2;
    @include type(sm);
    margin-top: 30px;

    @include sm {
      margin-top: 40px;
    }

    @include md {
      margin-top: 60px;
    }

    @include lg {
      margin-top: 0;
      order: 1;
      width: span(3 of 10);
    }

    @include xl {
      width: span(2 of 10);
    }
    
    h4 {
      @include type(sm);
      color: $mid-gray;
      margin-bottom: 10px;
    }

    ul {
      
    }

    li {
      @include type(sm);
      color: $mid-gray;
    }
  }


  &__body {
    order: 1;
    @include type(sm);

    @include lg {
      margin-top: 0;
      order: 2;
      width: span(6 of 10);
    }

    @include xl {
      width: span(6 of 10);
    }

    p {
      &:not(:first-child) {
        margin-top: 1em;

        @include sm {
          margin-top: 1.5em;
        }
      }
    }
  }
}
