<section class="rp_module rp_expandable">
	<div class="rp_expandable__content">
		
		<div class="rp_expandable__heading">
			<button class="rp_expandable__toggle">
				<span class="rp_expandable__toggle__text rp_expandable__toggle__text--collapsed">{{collapsed_button_text}}</span>
				<span class="rp_expandable__toggle__text rp_expandable__toggle__text--expanded">{{expanded_button_text}}</span>
				{% include 'icon.twig' with {icon: 'chevron-up'} only %}
			</button>

			<p class="rp_expandable__overview">{{overview}}</p>
		</div>

		<div class="rp_expandable__hidden">
			<div class="rp_expandable__expanding">
				<div class="rp_expandable__side">
					{{side}}
					</ul>
				</div>
				<div class="rp_expandable__body">
					{{body}}
				</div>
			</div>
		</div>

	</div>
</section>
