<section class="rp_module rp_featured-projects">
	<div class="rp_featured-projects__list">
		{# Show only the first 5 items #}

		{% for _project in projects|slice(0,5) %}
		    <div class="rp_featured-projects__item rp_modal__toggle" data-target="modal_featured-project_{{loop.index0}}">
		    	{% if _project.image %}
						<img src="{{_project.image}}" alt="" class="rp_featured-projects__image">
		    	{% endif %}
		    	<h2 class="rp_featured-projects__title">{{_project.title}}</h2>
		    	<p class="rp_featured-projects__description">{{_project.description}}</p>

					{# Modal #}
					{% embed 'modal.twig' with {
							id: 'modal_featured-project_' ~ loop.index0,
							project: _project.project,
					} %}
						{% block modal_content %}
							{% include 'project-detail.twig' with project only %}
						{% endblock %}
					{% endembed %}

		    </div>

		{% endfor %}

	</div>
</section>
