.rp_header {
  padding-top: 15px;
  position: relative;
  z-index: 5;


  &__brand {
    display: block;
    @include respond((
      width: 25px null 30px,
      height: 25px null 30px,
    ));

    svg {
      fill: $dark-gray;
      width: 100%;
      height: 100%;

      .rp_dark & {
        fill: $white;
      }

      .rp_ash & {
        fill: $gray;
      }
    }
  }


  &__title {
    @include font(medium);
    @include type(sm);
    margin-top: 45px;

    .rp_dark & {
      color: $white;
    }

    @include sm {
      width: span(4);
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
    }

    @include md {
      width: span(4);
    }

    @include lg {
      width: span(10);
    }

    @include xl {
      width: span(10);
    }
  }
}
