.rp_image-1up {
  @include container;

  &__figure {
    display: block;
    margin: 0;
    width: auto;
    margin: 15px -15px;

    @include sm {
      width: 100%;
      margin: 20px 0;
    }

    @include md {
      margin: 30px 0;
    }

    @include xl {
      margin: 40px 0;
    }

    img {
      display: block;
      margin: 0;
      width: 100%;
    }
  }


  &__caption {
    @include font(medium);
    @include type(xs);
    color: $white;
    margin-top: 8px;

    @include sm {
      width: span(4);
    }

    @include md {
      width: span(4);
    }

    @include lg {
      width: span(8);
    }

    @include xl {
      width: span(8);
      margin-top: 20px;
    }
  }
}
