<section class="rp_module rp_image-1up">
	<figure class="rp_image-1up__figure">
		<img src="{{image}}" alt="">
		{% if caption %}
			<figcaption class="rp_image-1up__caption">{{caption}}</figcaption>
		{% endif %}
	</figure>
</section>
