<section class="rp_module rp_image-2up">
	{% for image in images %}
	    <figure class="rp_image-2up__figure">
				<img src="{{image}}" alt="">
				{% if caption %}
					<figcaption class="rp_image-2up__caption">{{caption}}</figcaption>
				{% endif %}
			</figure>
	{% endfor %}
</section>
