.rp_location-tabs {
  @include respond((
    margin-top: 30px 40px 58px 60px 80px,
  ));

  &__content {
    
  }


  &__tabs {
    @include container;

    &-content {
      @include content;
    }
  }


  &__tab {
    @include font(medium);
    @include type(xs);
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: transparentize($dark-gray, .7);
    transition: color .3s;
    @include respond((
      margin-right: 30px,
    ));

    &.active,
    &:hover {
      color: $gray2;

      &:after {
        opacity: 1;
      }
    }

    &::after {
      content: '';
      display: block;
      opacity: 0;
      width: 100%;
      border-bottom: 2px solid currentColor;
      margin-top: 3px;
    }
  }


  &__panes {

  }


  &__pane {
    position: absolute;
    left: -100%;
    transition: opacity .3s;
    opacity: 0;
    pointer-events: none;

    &.active {
      position: relative;
      left: 0;
      pointer-events: auto;
      opacity: 1;
    }
  }


  &__banner {
    position: relative;
    @include respond((
      margin-top: 30px 40px 60px null 80px,
    ));

    &__image {
      width: 100%;
    }

    &__text {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      @include respond((
        display: none null block null none,
      ));
    }

    &__text-content {
      @include container;
      padding-top: 60px;
    }

    &__heading {
      @include content;
      @include font(medium);
      @include type(lg);
    }

    &__contact {
      @include content;
      margin-top: 30px;

      &:first-child {
        margin-top: 60px;
      }

      h4 {
        @include font(medium);
        @include type(xs);
        color: $gray2;
      }

      p {
        @include font(medium);
        @include type-size(sm, large);
        margin-top: 10px;
      }
    }
  }


  &__address {
    @include container;
    @include respond((
      margin-top: 30px 40px 60px null 80px,
    ));

    &-content {
      @include content;
    }

    &__heading {
      @include font(medium);
      @include type(lg);
      @include respond((
        display: block null none null block,
      ));
    }

    &__body {
      flex-flow: row wrap;
      justify-content: space-between;
      @include respond((
        display: flex null null null block,
        margin-top: 27px 37px 0 0 30px,
      ));
    }

    &__contact {
      clear: left;

      @include respond((
        width: 100% span(2 of 4 at sm) span(2 of 4 at md) span(5 of 10 at lg),
        float: none none none none left,
      ));

      &:not(:first-child) {
        @include respond((
          margin-top: 30px 0 null null 30px,
        ));
      }

      &:nth-child(n + 3) {
        @include respond((
          margin-top: 30px 36px 0 null 30px,
        ));
      }

      &--general,
      &--press {
        @include respond((
          display: null null none null block,
          float: null null null null left,
        ));
      }

      h4 {
        @include font(medium);
        @include type(xs);
      }

      p {
        @include font(medium);
        @include type(sm);
        margin-top: 10px;
      }
    }

    &__map {
      position: relative;
      @include respond((
        display: inline-block null null null none,
        width: 100% span(2 of 4 at sm) span(2 of 4 at md) span(5 of 10 at lg),
        margin-top: 30px 36px 0,
        padding-top: percentage(3/4)
                     span((2 * 3 / 4) of 4 at sm)
                     span((2 * 3 / 4) of 4 at md)
                     span((2 * 3 / 4) of 4 at lg)
                     span((2 * 3 / 4) of 4 at xl),
      ));

      &--desktop {
        margin-left: span(5 of 10 at xl);
        @include respond((
          display: none null null null block,
        ));
      }

      iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }



}
