.rp_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 9999999;


  &__content {
    background-color: $black;
    height: 100%;
    overflow: auto;
  }
}
