.rp_nav {
  position: fixed;
  left: 0;
  bottom: 20px;
  width: 100%;
  z-index: 5;

  @include md {
    bottom: 60px;
  }

  &__content {
    @include container;
  }


  &__list {
    @include content;

    @include xl {
      width: span(8 of 12);
    }
  }


  &__item {

    &:not(:first-child) {
      margin-top: 20px;

      @include md {
        margin-top: 15px;
      }
    }

    & a:link,
    & a:visited,
    & a:active {
      @include font(medium);
      @include type(xs);
      color: $gray;
      transition: color .3s;
      text-decoration: none;

      &:hover {
        color: $white;
      }
    }
  }
}
