<section class="rp_module rp_news-grid">

	<ul class="rp_news-grid__list">
		{% for article in articles %}
		    <li class="rp_news-grid__card">
		    	<a class="rp_news-grid__card__content" href="{{ article.link }}">
		    		<h3 class="rp_news-grid__title">{{ article.title }}</h3>
			    	<p class="rp_news-grid__excerpt">{{ article.excerpt }}</p>
			    	<a class="rp_news-grid__source" href="{{ article.source.url }}">
			    		<img src="{{ article.source.favicon }}" alt="" class="rp_news-grid__source__favicon">
			    		<span class="rp_news-grid__source__name">{{ article.source.name }}</span>
			    	</a>
		    	</a>
		    </li>
		{% endfor %}
	</ul>

</section>
