.rp_news-grid {
  @include container;
  margin-top: 60px;


  &__list {
    @include sm {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      width: span(4);
      margin-top: 80px;
      margin-left: auto;
      margin-right: auto;
    }

    @include md {
      width: span(4);
      margin-top: 120px;
    }

    @include lg {
      width: span(10);
      justify-content: flex-start;
    }

    @include xl {
      width: span(10);
    }
  }


  &__card {
    
    &:not(:first-child) {
      margin-top: 30px;
    }

    @include sm {
      width: span(2 of 4);
      flex-shrink: 0;

      &:not(:first-child) {
        margin-top: 0;
      }

      &:nth-child(n + 3) {
        margin-top: 40px;
      }
    }

    @include md {
      width: span(2 of 4);

      &:nth-child(n + 3) {
        margin-top: 62px;
      }
    }

    @include lg {
      width: span(3 of 10);
      margin-right: gutter();

      &:nth-child(3) {
        margin-top: 0;
      }

      &:nth-child(n + 4) {
        margin-top: 82px;
      }
    }

    @include xl {
      width: span(3 of 10);
      margin-right: gutter();
    }

    &__content {
      text-decoration: none;
    }

  }


  &__title {
    @include font(medium);
    @include type(sm);
    color: $dark-gray;
  }


  &__excerpt {
    @include font(medium);
    @include type(xs);
    color: $mid-gray;
    margin-top: 10px;
  }


  &__source{
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    text-decoration: none;

    &__favicon {
      width: 16px;
      height: 16px;
      margin-right: 7px;
      flex-shrink: 0;
      flex-grow: 0;
    }

    &__name {
      @include font(medium);
      @include type(xs);
      color: $dark-gray;
    }
  }
}
