<section class="rp_module rp_projects-grid">
	<ul class="rp_projects-grid__list">
		
		{% for project in projects %}
		    <li class="rp_projects-grid__card">
		    	{% if project.image %}
		    		<img src="{{project.image}}" alt="" class="rp_projects-grid__card__image">
		    	{% endif %}
		    	<a href="{{project.link}}" class="rp_projects-grid__card__contents">
		    		<h3 class="rp_projects-grid__card__title">{{ project.title }}</h3>
			    	<p class="rp_projects-grid__card__description">{{ project.description }}</p>
		    	</a>
		    </li>
		{% endfor %}

	</ul>
</section>
