<section class="rp_module rp_team-list">
	<div class="rp_team-list__content">
		
		<h2 class="rp_team-list__heading">Our Team</h2>
		
		<ul class="rp_team-list__list">
			{% for member in team %}
				<li class="rp_team-list__item {{ member.bio ? 'rp_team-list__item--with-bio' }}">
					<h3 class="rp_team-list__item__heading rp_team-list__item__toggle">
						<span class="rp_team-list__item__name">{{ member.name }}</span>
						<span class="rp_team-list__item__position">{{ member.job_title }}</span>
						<button class="rp_team-list__item__button">{% include 'icons/chevron-up.twig' %}</button>
					</h3>
					<p class="rp_team-list__item__copy">{{ member.bio }}</p>
					{% if member.image %}
						<img src="{{member.image}}" alt="{{member.name}}" class="rp_team-list__item__image">
					{% endif %}
				</li>
			{% endfor %}
		</ul>

	</div>
</section>
