.rp_team-list {
  @include container;
  @include respond((
    margin-top: 60px 80px 120px null 160px,
  ));

  &__content {
    @include content;
  }


  &__heading{
    @include font(medium);
    @include type(lg);
  }


  &__list {
    @include respond((
      width: null null null span(8 of 10 at lg) span(8 of 10 at xl),
      margin-top: 46px 56px 44px 74px 57px,
    ));
  }


  &__item {
    position: relative;

    &:not(:first-child) {
      @include respond((
        margin-top: 30px 35px 44px,
      ));
    }

    &:hover .rp_team-list__item__image {
      opacity: 1;
    }

    &__heading {
      @include font(medium);
      @include type(sm);
      display: flex;
      flex-flow: row wrap;
      @include respond((
        justify-content: space-between,
        align-items: flex-start,
      ));

      .rp_team-list__item--with-bio & {
        cursor: pointer;
      }
    }


    &__toggle {
      
    }


    &__name {
      @include respond((
        order: 1,
        width: null span(3 of 4 at sm) span(3 of 4 at md) span(3 of 8 at lg) span(3 of 8 at xl),
        margin-right: null null null 0,
      ));
    }


    &__position {
      @include respond((
        order: 3 null null 2,
        width: 100% null null span(4 of 8 at lg) span(4 of 8 at xl),
        margin-left: null null null gutter(lg) gutter(xl),
        margin-right: null null null auto,
      ));
    }


    &__button {
      background-color: transparent;
      transform: rotate(180deg);
      position: relative;
      z-index: 2;
      display: none;
      @include respond((
        order: 2 null null 3,
      ));

      .rp_team-list__item--with-bio & {
        display: block;
      }
    }


    &__copy {
      @include font(medium);
      @include type(sm);
      @include respond((
        width: 100% null null span(5 of 8 at lg) span(5 of 8 at xl),
        margin-left: null null null auto,
        padding-top: 30px 35px 48px 43px,
      ));
      display: none;
      position: relative;
      z-index: 2;
    }


    &__image {
      @include respond((
        display: none null block,
        width: null null span(2 of 4 at md) span(3 of 8 at lg) span(3 of 8 at xl),
        top: null null 12px,
        right: 0 null null span(-2 of 8 wide at lg) span(-2 of 8 wide at xl),
      ));
      position: absolute;
      z-index: 1;
      transition: opacity .4s;
      opacity: 0;
    }

  }

}
