.rp_text-breaker {
  @include container;
  margin-top: 95px;
  margin-bottom: 95px;

  @include sm {
    margin-top: 120px;
    margin-bottom: 120px;
  }

  @include md {
    margin-top: 180px;
    margin-bottom: 180px;
  }

  @include xl {
    margin-top: 240px;
    margin-bottom: 240px;
  }


  &__content {
    @include content;
  }


  &__text {
    @include font(medium);
    @include type(lg);
    display: block;
    color: $white;
  }


  &__source {
    @include font(medium);
    @include type(lg);
    display: block;
    color: $white;
    font-style: normal;
  }
}
