<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pages</title>
	<style>
		body { font-family: sans-serif; }
		ul {
		  list-style: none;
		  padding-left: 15px;
		}
		li {
		  margin-top: 10px;
		}
	  </style>
</head>
<body>
	<h2>Pages</h2>
	<ul>
		{% for page in pages %}
		    <li>
		    	<a href="/{{page.fileName}}">{{ (page.data.title is not empty ) ? page.data.title : page.fileName }}</a>
		    </li>
		{% endfor %}
	</ul>
</body>
</html>
