<!DOCTYPE html>
<html lang="en">
<head>
	{% include '../partials/head.twig' with {
		title: title,
		description: description
	} only %}
</head>
<body class="{{ body_class }}">
	<main class="rp_main">

		{% include '../components/header.twig' with {title: title} only %}

		{% block content %}
			{# Page Content #}
		{% endblock %}

	</main>
	{% include '../partials/footer.twig' %}
</body>
</html>
