/**
 * Define fonts
 */
$graphik-font-types: (
  regular: ('Regular', normal),
  medium: ('Medium', 500),
);

@each $type, $font-settings in $graphik-font-types {
  $font-family-type: nth($font-settings, 1);
  @font-face {
    font-family: 'Graphik #{$font-family-type}';
    src:  url('/dist/fonts/Graphik-#{$font-family-type}-Web.woff2') format('woff2'),
          url('/dist/fonts/Graphik-#{$font-family-type}-Web.woff') format('woff'),
          url('/dist/fonts/Graphik-#{$font-family-type}-Web.eot') format('eot');
  }
}


/**
 * Helper mixin for easier access to font-family
 * e.g., @include font(medium) // empty, medium
 */
@mixin font($type: 'regular') {
  $family-type: nth(map-get($graphik-font-types, $type), 1);
  $font-weight: nth(map-get($graphik-font-types, $type), 2);
  font-family: 'Graphik #{$family-type}';
  font-weight: $font-weight;
}
