.styleguide__rightbar {
	position: fixed;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	min-width: 280px;
	max-width: 500px;
	flex-shrink: 0;
	flex-grow: 0;
	z-index: 999999;
	font-family: sans-serif;
	z-index: 15;
	transition: all .3s ease;
	transform: translateX(100%);
}

.styleguide__rightbar__content {
	background-color: white;
	z-index: 5;
	position: relative;
	padding: 10px;
	width: 100%;
	height: 100%;
}

.styleguide__rightbar:hover {
	transform: none;
	box-shadow: 0 0 100px rgba(0,0,0,0.5);
}

.styleguide__rightbar:hover::after {
	content: 'x';
}

.styleguide__rightbar:hover ~ .styleguide__sidebar-overlay {
	opacity: 1;
}

.styleguide__rightbar::after {
	content: '|||';
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	position: absolute;
	left: -30px;
	bottom: 50%;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 15px;
	background-color: teal;
	color: white;
	z-index: 50;
	transform: rotate(90deg);
    transform-origin: bottom left;
}

.styleguide__rightbar h3 {
	margin-bottom: 25px;
}

.styleguide__rightbar a {
	display: inline-block;
	padding: 5px;
	text-decoration: none;
}

.styleguide__rightbar a:hover {
	text-decoration: underline;
}
