/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: pink;
}

ul {
	padding-left: 20px;
	list-style-type: none;
}

.styleguide__main {
	display: flex;
	height: 100vh;
	overflow: hidden;
}

.styleguide__sidebar-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	transition: opacity .3s;
	pointer-events: none;
	z-index: 10;
	opacity: 0;
}

.styleguide__preview {
	flex-grow: 1;
	background-color: black;
}

.styleguide__viewport {
	width: 100%;
	height: 100%;
	background-color: white;
}
