button {
  @include font(medium);
  @include type(sm);
  display: inline-flex;
  justify-contents: center;
  align-items: center;
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;

  .rp_icon {
    width: 15px;
    height: 15px;
    margin-left: 5px;
  }
}
