/**
 * Headings basic styles
 */

h1, h2, h3, h4, h5, h6 {
  @include font(medium);
}

h1 {
  @include type(xxl);
}

h2 {
  @include type(xl);
}

h3 {
  @include type(lg);
}

h4 {
  @include type(md);
}

h5 {
  @include type(sm);
}

h5 {
  @include type(xs);
}



/**
 * Types
 */
body {
  -webkit-font-smoothing: antialiased;
}
